/*#background {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	
	
	display: block;
	background-image: url(http://cdn-7.free-nature-animal-butterfly-wallpaper.com/wallpapers/landscape4.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-filter: blur(10px);
  	-moz-filter: blur(10px);
  	-o-filter: blur(10px);
  	-ms-filter: blur(10px);
  	filter: blur(10px); }


/*#content {
	position: absolute;
  	left: 0;
  	right: 0;
  	z-index: 3;
  	width: 100%;
  	height: 100%;
}*/

body {
	background-image: url(http://www.pixeden.com/media/k2/galleries/220/003-wood-melamine-subttle-pattern-background-pat.jpg);
	background-color: #FFFFFF;
	/*background-image: url(file:///Users/Chris/eagle-construction/images/alaska.jpg);
	background-repeat: none;
	background-size: auto;*/
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1250px;
	height: 500px;
	z-index: 2;
	/*background-color: #000000;*/
	/*opacity: 0.1;*/
}

.banner {
	float: left;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	height: 150px;
	background-color: #d3d3d3;
	border-radius: 5px;
}

#logo-text {
	display: inline-block;
	float-left;
	padding-left: 0px;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	font-weight: bold;
	font-size: 55px;	
}

#eagle {
	float: left;
	color: #AF0006;
}

#construction {
	float: left;
	padding-left: 20px;
}

#mission {
	display: inline-block;
	padding-left: 375px;
}

#logo-image {
	display: inline-block;
	float: right;
	height: 150px;
	width: 150px;
	padding-right: 30px;
}

.header {
	margin: 0 auto;
	height: 200px;
	max-width: 1000px;
}

.nav {
	float: left;
	list-style-type: none;
}

.nav:first-child {
	float: left;
}

li {
	display: inline-block;
	/*width: 35px;*/
	/*background-color: #FFFFFF;*/
	background-color: #d3d3d3;
	color: #000000;
	font-size: 20px;
	font-family: 'Roboto', 'Open Sans', sans-serif;
	font-weight: bolder;
}

li:hover {
	color: #AF0006;
}

li div {
	width: 175px;
	height: 35px;
	padding-top: 10px;
	text-align: center;
}

#body {
	text-align: left;
	clear: both;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	width: 1150px;
	height: 100%;
	background-color: #d3d3d3;
}

#body-text-1 {
	position: relative;
	display: inline-block;
	float: left;
	padding-left: 40px;
	padding-right: 15px;
	width: 400px;
	border-right: 1px solid #000000;
}

#body-text-2 {
	clear: both;
	display: inline-block;
	float: left;
	padding-left: 40px;
	width: 400px;
	border-right: 1px solid #000000;
}

.body-head {
	font-family: 'Noto Serif', serif;
	font-size: 25px;
	font-style: italic;
	text-align: center;
}

#img-holder {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 694px;
	height: 500px;
}

#img-holder img {
	padding-left: 50px;
	width: 605px;
	height: 400px;
}

#footer {
	clear: both;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	width: 1150px;
	height: 50px;
	background-color: #d3d3d3;
}

